<nav class="navbar">
  <ul class="nav-links">
      <li><a href="home.html" data-page="home">Home</a></li>
      <li><a href="history.html" data-page="history">History</a></li>
      

      <li class="dropdown">
          <a href="#" class="dropbtn">Destinations</a>
          <div class="dropdown-content">
              <a href="luzon.html" data-page="luzon">Luzon</a>
              <a href="visayas.html" data-page="visayas">Visayas</a>
              <a href="mindanao.html" data-page="mindanao">Mindanao</a>
          </div>
      </li>

      
      </li>
  </ul>
</nav>
